body {
    background: linear-gradient(0.25turn, #90ff68, #68ffd1, #d6a0ef);
    background-size: auto;
    font-family: 'Rubik', serif;
}

.badge-special {
    background: linear-gradient(45deg, red, blue);
    color:white
}

.jumbotron {
    width: 80%;
    display: flex;
    margin: 10px auto;
    border: 0.08em solid black;
    background-color: black;
    color: white;
    justify-content:center;
    align-items:center;
}