body {
    background: url('Schiff-Lake-Background.jpg');
    background-size: auto;
    font-family: 'Rubik', serif;
}

.badge-special {
    background: linear-gradient(45deg, red, blue);
    color:white
}