body {
    background-color: #9CF8E6;
    background-image: url('liquid-cheese.svg');
    background-attachment: fixed;
    background-size: cover;
}

.btn-margins {
    margin-left: 2px;
    margin-right: 2px;
}

.carousel {
    width: 70%;
    height: auto;
    margin: auto;
 }